<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<form class="row g-3" action="/items/new" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">상품명</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">가격</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="가격을 입력하세요">
    </div>
    <div class="mb-3">
        <label for="stockQuantity" class="form-label">수량</label>
        <input type="text" class="form-control" id="stockQuantity" name="stockQuantity" placeholder="수량을 입력하세요">
    </div>
    <button type="submit" class="btn btn-outline-primary">submit</button>
</form>
</body>
</html>